@font-face {font-family: "Verdana";src: url("../fonts/Verdana.ttf");}
@font-face {font-family: "Micra Bold";src: url("../fonts/micra-bold.ttf");}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a {cursor: pointer;}
.clearfix {clear: both;}
body {
    width: 100%;
    background: #f9f8f8;
}
.header {
    width: 100%;
    text-align: right;
    padding: 1% 0;
}
.pr-logo, .ca-logo {
    display: inline-block;
    width: 13.02083333333333%;
    padding-top: 3.75%;
    background: url('../images/pr-logo.png');
    background-size: cover;
    outline: none;
    margin-right: 2%;
}
.ca-logo {
    background: url('../images/ca-logo.png');
    background-size: cover;
    margin-right: 5%;
}
.taglines {
    float: left;
    margin-left: 5%;
    vertical-align: bottom;
}
.taglines .text-1 {
    font-family: "Micra Bold", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #b80000;
    width: auto;
}
nav {
    display: table;
    float: right;
    width: 42%;
    margin-right: 5%;
    margin-top: 0.5%;
}
nav ul {display: table-row;}
nav ul li {
    display: table-cell;
    border-right: 4px solid #e2e2e3;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    font-size: 18px;
    height: 70px;
    cursor: pointer;
}
nav ul li:first-child {border-left: 4px solid #e2e2e3;}
nav ul li:hover {
    background: linear-gradient(to top, #f9f8f8 3%, #d8d9da 50%, #f9f8f8 97%);
}
.content-block {
    width: 1280px;
    margin: 0 auto;
}
.title {
    width: auto;
    margin: 2% 0;
    text-align: center;
    font-size: 48px;
    font-style: italic;
}
.you-will-learn, .book-can-help, .you-will-get {width: 100%;display: flex;}
.you-will-learn .block-picture {
    display: inline-block;
    width: 26.015625%;
    padding-top: 36.796875%;
    background: url('../images/freedom.jpg');
    background-size: cover;
    vertical-align: top;
}
.you-will-learn .block-text {
    display: inline-flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
}
.you-will-learn .sub-title {font-weight: 600; text-decoration: underline;}
@media (max-width: 1600px) {
    .taglines .text-1 {font-size: 36px;}
    .title {font-size: 36px;}
}
