@font-face {font-family: "Pragmatica Light";src: url("../fonts/pragmaticalightc.otf");}
@font-face {font-family: "Europe Normal";src: url("../fonts/EuropeNormal.ttf");}
@font-face {font-family: "Pragmatica Regular";src: url("../fonts/pragmatica-condensed.ttf");}
@font-face {font-family: "Pragmatica Bold";src: url("../fonts/pragmaticalightc-bold.otf");}
@font-face {font-family: "Enigma";src: url("../fonts/Enigma.TTF");}
@font-face {font-family: "Micra Bold";src: url("../fonts/micra-bold.ttf");}
@font-face {font-family: "OpenSans Light";src: url("../fonts/OpenSans-Light.ttf");}
@font-face {font-family: "OpenSans Semibold";src: url("../fonts/OpenSans-Semibold.ttf");}
@font-face {font-family: "OpenSans Regular";src: url("../fonts/OpenSans-Regular.ttf");}
@font-face {font-family: "OpenSans Bold";src: url("../fonts/OpenSans-Bold.ttf");}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 16px;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a {cursor: pointer;}
.clearfix {clear: both;}
body {
    width: 100%;
    background: #f9f8f8;
}
.header {
    width: 100%;
    background: #f9f8f8;
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
    padding: 0.5% 0;
    border-bottom: 2px solid #cccccc;
}
.taglines {
    display: inline-block;
    float: left;
    margin-left: 2%;
    vertical-align: top;
}
.taglines .text-1 {
    font-family: "Micra Bold", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #b80000;
    width: auto;
}
.taglines .text-2 {
    font-family: "Enigma", sans-serif;
    font-size: 25px;
    color: #004f74;
    width: auto;
}
nav {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-top: 0.6%;
}
.menu-icon {
    display: none;
    width: 100%;
    height: auto;
    outline: none;
    margin-top: 1%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
}
nav ul li a {
    font-family: "Europe Normal", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}
nav ul li:focus {
    text-decoration: underline;
}
nav ul li:active {text-decoration: none;}
.logos {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    float: right;
    margin-right: 2%;
    margin-top: 0.5%;
}
.pr-logo, .ca-logo {
    display: inline-block;
    width: 45.4%;
    padding-top: 13%;
    background: url('../images/logo-pr.png') no-repeat;
    background-size: cover;
    outline: none;
    float: left;
}
.ca-logo {
    width: 40%;
    padding-top: 13%;
    background: url('../images/logo-sa.png');
    background-size: cover;
    float: right;
}
.about-book {
    padding: 3% 0 0;
    margin-top: 3%;
}
.content-block {
    width: 980px;
    margin: 0 auto;
}
.title {
    font-family: "Pragmatica Bold", sans-serif;
    width: auto;
    margin: 2% 0 3%;
    text-align: center;
    font-size: 36px;
}
.you-will-learn {
    width: 100%;
    position: relative;
    text-align: right;
    margin-top: 4%;
}
.you-will-learn .picture-block {
    position: absolute;
    top: -8%;
    left: -15%;
    width: 65%;
}
.you-will-learn .block-text {
    display: inline-block;
    width: 45%;
    margin-top: 2%;
    margin-right: 3%;
    text-align: left;
    position: relative;
    z-index: 1;
}
.sub-title {
    font-size: 24px;
    text-decoration: underline;
    font-family: "Pragmatica Bold", sans-serif;
    margin-bottom: 5px;
}
.you-will-learn ul li {
    display: inline-block;
}
.you-will-learn .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 15px;
    background: url('../images/mark.png');
    background-size: cover;
}
.you-will-learn .text-1 {
    display: inline-block;
    width: 90%;
    font-size: 18px;
    vertical-align: middle;
    margin-top: 20px;
    font-family: "Pragmatica Bold", sans-serif;
}
.you-will-learn .text-2 {
    display: inline-block;
    width: 95%;
    margin-left: 25px;
    margin-top: 5px;
    text-align: justify;
    font-size: 14px;
}
.download-contents {
    display: inline-block;
    background: #798fb1;
    background: linear-gradient(to top, #798fb1, #95b2e2);
    background-size: cover;
    font-family: "Europe Normal", sans-serif;
    font-size: 28px;
    text-decoration: none;
    padding: 15px 20px;
    margin: 7% 0 3% 36%;
    color: #ffffff;
    border: 1px solid #7497d0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    outline: none;
}
.download-contents:hover {
    background: #95b2e2;
    background: linear-gradient(to bottom, #798fb1, #95b2e2);
}
.download-contents:active {
    background: #798fb1;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}
.book-promo {
    width: 100%;
    background: #f0f1f3;
    padding: 3% 0;
}
.book-can-help, .you-will-get {
    width: 47.5%;
    float: left;
    text-align: center;
}
.book-can-help img, .you-will-get img {width: 65%;margin: 0 auto;height: auto;}
.you-will-get {float: right;}
.book-can-help .sub-title, .you-will-get .sub-title {
    width: 100%;
    margin: 5% 0;
    text-align: center;
}
.book-can-help ul, .you-will-get ul {
    list-style-type: disc;
    margin-left: 10%;
    text-align: justify;
}
.book-can-help ul li, .you-will-get ul li {
    margin-top: 10px;
}
.reviews {
    padding: 2% 0;
}
.reviews ul {
    width: 100%;
    background: url('../images/paper.png') no-repeat;
    background-size: cover;
    margin-top: 5%
}
.reviews ul li {
    display: inline-block;
    width: 100%;
    position: relative;
}

.reviews ul li:first-child {margin-top: 23%;}
.reviews ul li:last-child {margin-bottom: 15%;margin-top: 5%;}
.reviews .author {
    display: inline-block;
    width: 30%;
    float: left;
    margin-left: 12.5%;
}
.reviews .author .name {
    font-family: "OpenSans Bold", sans-serif;
    margin-bottom: 10px;
}
.reviews .author .info {
    margin-left: 10px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.reviews .author .info a {font-family: "OpenSans Bold", sans-serif;}
.reviews .review {
    display: inline-block;
    width: 45%;
    margin-right: 12.5%;
    float: right;
    text-align: justify;
    background: #f1f1f1;
    border: 3px solid #81a432;
    text-indent: 5%;
    padding: 2%;
    position: relative;
}
.reviews .review p {
    font-size: 14px;
    line-height: 20px;
}
.about-author {
    width: 100%;
    background: #e6e5ea;
    padding: 2% 0 5%;
}
.about-author .content-block {
    display: flex;
    align-items: center;
}
.about-author .author-photo {
    width: 35%;
}
.about-author .author-photo img {width: 100%; height: auto;}
.about-author .author-info {
    margin-left: 8%;
}
.about-author .author-info .author-name {
    font-family: "Pragmatica Bold", sans-serif;
    font-size: 26px;
    margin-bottom: 15px;
}
.about-author .author-info p {line-height: 30px;}
.question-answer {
    width: 100%;
    padding: 2% 0 5%;
}
.question-answer ul {
    width: 80%;
    margin: 0 auto;
}
.question-answer ul li {
    display: inline-block;
    width: 100%;
    border: 2px solid #d8d9db;
    border-bottom: none;
    padding: 15px 25px;
    background: #f8f6f5;
    position: relative;
}
.question-answer ul li:last-child {border-bottom: 2px solid #d8d9db;}
.question-answer .question {
    font-size: 18px;
    font-family: "Pragmatica Regular", sans-serif;
    cursor: pointer;
    margin-left: 30px;
}
.question-answer .answer {
    display: none;
    margin-top: 20px;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
}
.question-answer .icon-arrow {
    width: 40px;
    padding-top: 40px;
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
}
.question-answer .to-right {
    background: url('../images/arrow-sprite.png') 0 center no-repeat;
    background-size: cover;
}
.question-answer .to-bottom {
    background: url('../images/arrow-sprite.png') 100% center no-repeat;
    background-size: cover;
}
.remodal {
    width: 100%;
    background: #f2f3ed;
    padding: 2% 0 4%;
}
.remodal form {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e0e6cf;
    border: 1px solid #88a93e;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.remodal input {
    margin: 20px 0;
    width: 220px;
    height: 50px;
    outline: none;
    border: none;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(136,169,62,1);
    -moz-box-shadow: inset 0 0 10px 0 rgba(136,169,62,1);
    box-shadow: inset 0 0 10px 0 rgba(136,169,62,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    padding-left: 5%;
    cursor: pointer;
}
input::-webkit-input-placeholder {font-size: 18px;}
input::-moz-placeholder {font-size: 18px;}
input:-moz-placeholder {font-size: 18px;}
input:-ms-input-placeholder {font-size: 18px;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}
input:focus {box-shadow:none;border: 1px solid rgba(136,169,62,1);}
.remodal .btn {
    outline: none;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(136,169,62,1), 0 0 5px 0 rgba(0,0,0, 0.5);
    -moz-box-shadow: inset 0 0 10px 0 rgba(136,169,62,1), 0 0 5px 0 rgba(0,0,0, 0.5);
    box-shadow: inset 0 0 10px 0 rgba(136,169,62,1), 0 0 5px 0 rgba(0,0,0, 0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #a5bd6c;
    background: linear-gradient(to top, #a5bd6c, #c6da90);
    font-family: "OpenSans Bold", sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 0;
}
.remodal .btn:hover {
    background: #c6da90;
    background: linear-gradient(to bottom, #a5bd6c, #c6da90);
}
.remodal .btn:active {
    background: #a5bd6c;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}
.remodal .message {
    position: absolute;
    bottom: 5px;
}
.how-to-get {
    width: 100%;
    padding: 2% 0 4%;
    text-align: center;
}
.how-to-get .sub-title {text-decoration: none;}
.get-free, .to-buy {
    width: 50%;
    float: left;
    text-align: center;
}
.get-free p {
    text-align: left;
    display: inline-block;
    width: 80%;
    margin: 2% auto;
    font-size: 18px;
}
.get-free span {
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;
    margin: 10px 0;
}
.get-free .address {
    font-size: 16px;
    text-decoration: none;
}
.to-buy {
     float: right;
 }
.free-icon, .to-buy-icon {
    display: inline-block;
    width: 50%;
    padding-top: 50%;
    background: url('../images/sprite.png') -6% center no-repeat;
    background-size: cover;
    margin: 5% 0;
}
.to-buy-icon {
    background: url('../images/sprite.png') 105% center no-repeat;
    background-size: cover;
}
.to-buy-now {
    outline: 0;
    border: 0;
    width: 50%;
    margin: 5% auto;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #d88231;
    background: linear-gradient(to top, #d88231, #ecbd32);
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 2% 0;
    cursor: pointer;
}
.to-buy-now:hover {
    background: #ecbd32;
    background: linear-gradient(to bottom, #d88231, #ecbd32);
}
.to-buy-now:active {
    background: #d88231;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}
.footer {
    text-align: center;
    padding: 1% 0;
    background: #e2e3e5;
    border-top: 2px solid #cccccc;
}
@media (max-width: 1600px) {
    .taglines .text-1 {font-size: 26px;}
    .taglines .text-2 {font-size: 20px;}
    nav {width: 40%;margin-top: 0.25%}
}
@media (max-width: 1366px) {
    .taglines .text-1 {font-size: 22px;}
    .taglines .text-2 {font-size: 17px;}
    nav {margin-top: 0}
    nav ul li a {font-size: 14px;line-height: 14px;}
}
@media (max-width: 1180px) {
    .taglines .text-1 {font-size: 26px;}
    .taglines .text-2 {font-size: 20px;}
    .logos {width: 30%;margin-top: 0;}
    nav {width: 5%;}
    nav .menu-icon {display: inline-block;vertical-align: middle;}
    nav ul {display: none;}
}
