@font-face {font-family: "Pragmatica Light";src: url("../fonts/pragmaticalightc.otf");}
@font-face {font-family: "Pragmatica Bold";src: url("../fonts/pragmaticalightc-bold.otf");}
@font-face {font-family: "Pragmatica Condensed";src: url("../fonts/pragmatica-condensed.ttf");}
@font-face {font-family: "Micra Bold";src: url("../fonts/micra-bold.ttf");}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Pragmatica Light", sans-serif;
    font-size: 20px;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a {cursor: pointer;}
.clearfix {clear: both;}
body {
    width: 100%;
    background: #f9f8f8;
}
.header {
    width: 100%;
    text-align: right;
    padding: 1% 0;
}
.pr-logo, .ca-logo {
    display: inline-block;
    width: 13.02083333333333%;
    padding-top: 3.75%;
    background: url('../images/pr-logo.png');
    background-size: cover;
    outline: none;
    margin-right: 2%;
}
.ca-logo {
    background: url('../images/ca-logo.png');
    background-size: cover;
    margin-right: 5%;
}
.taglines {
    float: left;
    margin-left: 5%;
    vertical-align: bottom;
}
.taglines .text-1 {
    font-family: "Micra Bold", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #b80000;
    width: auto;
}
.taglines .text-2 {
    font-family: "Pragmatica Condensed", sans-serif;
    font-size: 36px;
    color: #004f74;
    width: auto;
}
nav {
    display: table;
    float: right;
    width: 42%;
    margin-right: 5%;
    margin-top: 0.5%;
}
nav ul {display: table-row;}
nav ul li {
    display: table-cell;
    border-right: 4px solid #e2e2e3;
    text-align: center;
    vertical-align: middle;
    width: 16%;
    font-size: 18px;
    height: 70px;
    cursor: pointer;
}
nav ul li:first-child {border-left: 4px solid #e2e2e3;}
nav ul li:hover {
    background: linear-gradient(to top, #f9f8f8 3%, #d8d9da 50%, #f9f8f8 97%);
}
.content-block {
    width: 1280px;
    margin: 0 auto;
}
.title {
    font-family: "Pragmatica Bold", sans-serif;
    width: auto;
    margin: 2% 0;
    text-align: center;
    font-size: 48px;
}
.you-will-learn {
    width: 100%;
    display: flex;
    align-items: center;
}
.you-will-learn .block-picture {
    display: inline-block;
    width: 30.5%;
    padding-top: 43%;
    background: url('../images/freedom.jpg');
    background-size: cover;
}
.you-will-learn .block-text {
    display: inline-block;
    width: 66%;
    margin-left: 3%;
}
.sub-title {
    font-size: 24px;
    text-decoration: underline;
    font-family: "Pragmatica Bold", sans-serif;
    margin-bottom: 5px;
}
.you-will-learn ul li {
    display: inline-block;
}
.you-will-learn .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 15px;
    background: url('../images/mark.png');
    background-size: cover;
}
.you-will-learn .text-1 {
    display: inline-block;
    width: 90%;
    font-size: 22px;
    vertical-align: middle;
    margin-top: 20px;
    font-family: "Pragmatica Bold", sans-serif;
}
.you-will-learn .text-2 {
    display: inline-block;
    width: 95%;
    margin-left: 35px;
    margin-top: 5px;
    text-align: justify;
}
.download-contents {
    display: inline-block;
    background: url('../images/button.png');
    background-size: cover;
    font-family: "Pragmatica Condensed", sans-serif;
    font-size: 28px;
    text-decoration: none;
    padding: 15px 20px;
    margin: 5% 0 7% 36%;
}
.book-can-help, .you-will-get {
    width: 47.5%;
    float: left;
}
.book-can-help img, .you-will-get img {width: 100%;height: auto;}
.you-will-get {float: right;}
.book-can-help .sub-title, .you-will-get .sub-title {
    width: 100%;
    margin: 5% 0;
    text-align: center;
}
.book-can-help ul, .you-will-get ul {
    list-style-type: disc;
    margin-left: 10%;
    text-align: justify;
}
.book-can-help ul li, .you-will-get ul li {
    margin-top: 10px;
}
.reviews {
    margin: 5% 0;
}
.reviews ul li {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}
.reviews .author, .reviews .review {
    display: inline-block;
    width: 30%;
    float: left;
}
.reviews .review {
    width: 65%;
    float: right;
    text-align: justify;
}



@media (max-width: 1600px) {
    .taglines .text-1 {font-size: 36px;}
    .title {font-size: 36px;}
}
